<h1> Teacher Dashboard </h1>
<p> Email: <%= @teacher.email %> </p>

<%= link_to "Create a new event", new_event_path, :class => "button medium" %>

<%= month_calendar events: @teacher.events do |date, events| %>
	<%= date %> <br/>
	<% events.each do |event| %>
		Name: <%= event.name %> | Duration: <%= event.duration %>  
		<br/>
	<% end %>

<% end %>

<h3> Events </h3>
	<% @teacher.events.each do |event| %>
		Name: <%= event.name %> | Price: <%= event.price %> | 
		Class Size: <%= event.max %> | Duration: <%= event.duration %> | 
		Instructor: <%= event.instructor %> | Topic: <%= event.topic %> | 
		Provided Materials: <%= event.provided %> | Prerequisites: <%= event.prerequisites %> | Required Materials: <%= event.materials %> 
		When: <%= event.start_time %> <br/>
		<%= button_to "Edit", edit_path(id: event), :class => "button medium" %> <br/>
		<%= button_to "Delete", delete_path(id: event), :class => "button medium", :method => :patch %> <br/>
	<% end %> 

